__pycache__/
*.pyc
*.db
.env
mosquitto/data/
mosquitto/log/

README.md
docs/Architecture.md
*.md

.venv/
coverage.xml
.coverage
htmlcov/
.ruff_cache/

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

.terraform/